# PostgreSQL
POSTGRES_HOST=postgres_bdgeo
POSTGRES_USER=super_user
POSTGRES_PASSWORD=super_password
POSTGRES_DB=bdgeo_2026
POSTGRES_PORT=5434

# Object Storage (RustFS)
RUSTFS_IMAGE=rustfs/rustfs:1.0.0-alpha.80
RUSTFS_ACCESS_KEY=rustfs_admin
RUSTFS_SECRET_KEY=rustfs_secret
RUSTFS_PORT=9002
RUSTFS_CONSOLE_PORT=9003
AWS_ENDPOINT_URL=http://rustfs:9000